body{
    font-family: "verdana";
    font-size: 10px;
}

table{
    border:1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th{ 
    background-color:#FF9999;
    border:1px solid black;
    border-collapse: collapse;
}
.fila td{
    border: 1px solid black;
    border-collapse: collapse;
    padding:3px;
}
table tr:nth-child(odd){
    /*background-color: #BBB;*/
}
table tr:nth-child(even){
    background-color: #DDD;
}

.uno{
    width: 8%;
    text-align: center;
}
.dos{
    width: 14%;
}
.tres{
    width: 22%;
}

div.cabecera{
    background-color: grey;
    font-weight: bold;
    text-align: center;
}

.footer{
    padding-top: 10px;
    text-align: left;
}

